server:
  port: 8080
# DB接続情報
spring:
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
    driverClassName: ${SPRING_DATASOURCE_DRIVERCLASSNAME}
management:
  endpoints:
    web:
      exposure:
        include: "prometheus, health"

logging:
    file: 
      name: logs/myapp.log
    level:
        org.springframework.web: INFO

opentracing:
  jaeger:
    log-spans: false
    http-sender:
       url: ${JAEGER_HTTP_URL:http://localhost:14268/api/traces}

amazon:
  dynamodb:
    endpoint: https://dynamodb.ap-northeast-1.amazonaws.com
  credential:
    profile: default

api.destinations:
    opaapiurl: 
      auth: http://localhost:8181/v1/data/httpapi/authz/allow

#spring.datasource.url=${SPRING_DATASOURCE_URL}
#spring.datasource.username=${SPRING_DATASOURCE_USERNAME}
#spring.datasource.password=${SPRING_DATASOURCE_PASSWORD}
#spring.datasource.driverClassName=${SPRING_DATASOURCE_DRIVERCLASSNAME}
#spring.datasource.url=jdbc:oracle:thin:@localhost:1521/taskappdatabase.localdomain
#spring.datasource.username=TASKAPP_ADMIN
#spring.datasource.password=password
#spring.datasource.driverClassName=oracle.jdbc.OracleDriver

#rdsのmysql接続URL(GithubのSecretに入れる情報)
#url(参考)jdbc:mysql://[ホスト名]:[ポート番号]/[データベース名]
#url: jdbc:mysql://rds-mysql-10mintutorial.cgan7fbbbc5s.ap-northeast-1.rds.amazonaws.com:3306/taskapp_db
#username: masterUsername
#driver: com.mysql.cj.jdbc.Driver

#jdbc:mysql://taskappdatabase.cgan7fbbbc5s.ap-northeast-1.rds.amazonaws.com:3306/taskapp_db
#taskappdatabase.cgan7fbbbc5s.ap-northeast-1.rds.amazonaws.com


#環境変数に登録する用
#export SPRING_DATASOURCE_URL=jdbc:mysql://rds-mysql-10mintutorial.cgan7fbbbc5s.ap-northeast-1.rds.amazonaws.com:3306/taskapp_db
#export SPRING_DATASOURCE_USERNAME=masterUsername
#export SPRING_DATASOURCE_PASSWORD
#export SPRING_DATASOURCE_DRIVERCLASSNAME=com.mysql.cj.jdbc.Driver

# export SPRING_DATASOURCE_URL=jdbc:oracle:thin:@localhost:1521/taskappdatabase.localdomain
# export SPRING_DATASOURCE_USERNAME=TASKAPP_ADMIN
# export SPRING_DATASOURCE_PASSWORD=password
# export SPRING_DATASOURCE_DRIVERCLASSNAME=oracle.jdbc.OracleDriver

#export SPRING_DATASOURCE_URL=jdbc:mysql://taskappdatabase.cgan7fbbbc5s.ap-northeast-1.rds.amazonaws.com:3306/taskappdatabase
#export SPRING_DATASOURCE_USERNAME=admin
#export SPRING_DATASOURCE_PASSWORD
#export SPRING_DATASOURCE_DRIVERCLASSNAME=com.mysql.cj.jdbc.Driver

#DEMO